body {
  margin: 0px;
}

.spacer {
  height: 100px;
  width: 100%;
}

/* main styles */

main {
  height: 100%;
  font-family: 'Montserrat Alternates', sans-serif;
}

section {
  width: 100%;
  height: 50vh;
  border-bottom: 1px white solid;
}

#welcome {
  color: white;
  font-size: 3em;
  position: relative;
  float: right;
  width: 33%;
}

#banner {
  background-image: url("../images/panda-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#button-wrapper a {
  text-decoration: none;
  color: red;
  background-color: white;
  font-size: .4em;
  padding: 20px;
  border: 2px solid white;
  border-radius: 10px;
}

#button-wrapper a:hover {
  animation: link-button .5s forwards;
}

#banner2 {
  height: 50vh;
  background-image: url("../images/panda.jpg");
  opacity: 50%;
  filter: blur(3px);
  z-index: -1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes link-button {
  100% {
    color: white;
    background-color: red;
  }
}

#order {
  background-image: url("../images/panda-order.jpg");
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#order-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-70%, -50%);
  font-size: 3em;
}

#order-text a {
  text-decoration: none;
  color: white;
  background-color: red;
  font-size: .4em;
  padding: 20px;
  border: 2px solid red;
  border-radius: 10px;
  margin-left: 40%;
}

#order-text a:hover {
  animation: link-red .5s forwards;
}

@keyframes link-red {
  100% {
    color: red;
    background-color: white;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: .5em;
    text-align: center;
  }
  header {
    position: fixed;
    bottom: 0;
  }
  #welcome {
    width: 100%;
    float: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }
  #button-wrapper {
    display: flex;
    justify-content: space-evenly;
  }
  #banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #order {
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #order-text {
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  #order-text a {
    margin-left: 0;
  }
  .spacer {
    display: none;
  }
  #footer-spacer-mobile {
    display: block;
  }
}

@media screen and (max-width: 1000px) and (min-width:481px) {
  #social-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .social-card {
    width: 100%;
    padding-top: 100%;
  }
}