body {
  margin: 0px;
  font-family: 'Montserrat Alternates', sans-serif;
}

#grid-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

#grid-wrapper img {
  height: 100%;
  width: 25%;
}

.spacer {
  height: 100px;
  width: 100%;
}